<form [formGroup]="form">
  <ng-container [ngSwitch]="fieldGeneric.controlType">
    <ng-container *ngSwitchCase="TypeControlEnum.TEXT_BOX">
      <mat-form-field appearance="outline" class="full-width no-padding">
        <mat-label>{{ fieldGeneric.label }}</mat-label>
        <input
          [type]="fieldGeneric.type"
          [formControlName]="fieldGeneric.key"
          matInput
          class="text-uppercase"
        />
      </mat-form-field>
    </ng-container>

    <ng-container *ngSwitchCase="TypeControlEnum.DROP_DOWN">
      <mat-form-field appearance="outline" class="full-width no-padding">
        <mat-label>{{ fieldGeneric.label }}</mat-label>
        <mat-select
          [formControlName]="fieldGeneric.key"
          disableOptionCentering
          disableRipple
          [multiple]="true"
        >
          <mat-option
            *ngFor="let opt of fieldGeneric.options"
            [value]="opt.key"
          >
            {{ opt.value }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </ng-container>
  </ng-container>
</form>
